<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email List</title>

    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    
    <div id="app">
        <button @click="generateEmail">Genera email random</button>
        <ul v-if="randomEmail.length === 10">
            <li v-for="email in randomEmail">{{ email }}</li>
        </ul>
    </div>

    
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- JS -->
    <script src="js/script.js"></script>
</body>
</html>